.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #365B6D;
    border-bottom: 1px solid rgb(107, 107, 107);
    box-shadow: 1px 1px 3px #b9b9b9;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.right{
    display: flex;
    gap: 30px;
    padding-right: 10px;
}
.btn{
    font-size: 20px;
    padding: 2px 5px;
    border: none;
    background-color: #365B6D;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.left{
    padding-left: 20px;
    display: flex;
    align-items: center;
}
.logo{
    width: 80px;
}